.last-operation {
  font-size: 1.5rem;
  text-align: right;
  color: #6b6b6b;
}

.result {
  color: #ebebeb;
  font-size: 3rem;

  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
